body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  header {
    background-color: #bc8e8e;
    color: #fff;
    text-align: center;
    padding: 1em;
  }

  nav {
    background-color: #444;
    padding: 1em;
    text-align: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }

  section {
    padding: 20px;
  }

  .home {
    text-align: center;
  }

  .home img {
    border-radius: 20%;
    max-width: 125px;
    margin: 10px;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .education {
    text-align: center;
  }

  .home h2 {
    color: #333;
  }

  .home p {
    margin: 10px 0;
    font-size: 1.1em;
  }

  .skills {
    text-align: center;
  }

  .skills h2 {
    color: #333;
  }

  .skills p {
    margin: 10px 0;
    font-size: 1.1em;
  }


  .experience {
    text-align: center;
  }

  .experience h2 {
    color: #333;
  }

  .job {
    margin-bottom: 20px;
  }

  .job img {
    border-radius: 50%;
    max-width: 100px;
    margin: 10px;
    cursor: pointer;
  }

  .details1 {
    display: none;
    text-align: left;
  }

  .profile {
    margin-bottom: 20px;
  }

 
  .detail {
    display: none;
    text-align: center;
  }

  .contact {
    text-align: center;
  }

  .contact h2 {
    color: #333;
  }

  form {
    max-width: 600px;
    margin: auto;
  }

  label {
    display: block;
    margin: 10px 0;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  body {
    transition: background-color 0.5s, color 0.5s;
  }

  /* Add styles for light mode */
  .light-mode {
    background-color: #fff;
    color: #333;
  }

  /* Add styles for dark mode */
  .dark-mode {
    background-color: #333;
    color: #fff;
  }

  .mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .mode-toggle:hover {
    text-decoration: underline;
  }

  form {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
textarea {
    resize: vertical;
    height: 150px;
}
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

body.dark {
    background-color: #222;
    color: #fff;
}